body {

}
.{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
{
    display: block;
}
body {
    line-height: 1;
}
{
    list-style: none;
}
{
    quotes: none;
}
{
    ::content: '';
    ::content none;
}
h1 {
    border-collapse: collapse;
    border-spacing: 0;
}
{
    font-size: 36px;
    margin: 32px;
}
.box {
    width: 180px;
    height: 180px;
    background-color: lawngreen;
    border: 10px solid black;
    display: inline-block;
    margin: 40px;
}
.double {
    border-style: double;
}
.dashed {
    border-style: dashed;
}
.dotted {
    border-style: dotted;
}
.none {
    border-style: none;
}
p {
    width: 400px;
    background-color: red;
    font-size: 26px;
    color: white;
    padding: 24px;
    border-top: 20px solid blue;
    border-right: 20px solid violet;
    border-bottom: 20px solid yellow;
    border-left: 20px solid gray;
}
.para-container {
    background-color: greenyellow;
    padding: 48px 34px;
    display: inline-block;
    margin: 34px;
}